@media all and (orientation : portrait) {
    
    .wrapper{
        display: block;
        width: 100vw;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;

        /* padding: 11px; */

        background-color: blue;
    }
}

