.code-input{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.code{
    display: inline-block;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 7px;

    font-size: 40px;

    margin-left: .07em;
    margin-right: .07em;
}

.delimeter{
    width:  6px;
    height: 0px;
    border: 2px solid black;
    border-radius : 4px;
    display: inline-block;
    margin-bottom: 11px;
}


@media screen and (min-width: 169px) and (max-width: 269px) {

    .code{
        height: 1.1em;
        width: .5em;
    } 
}

@media screen and (min-width: 269px) and (max-width: 313px) {

    .code{
        height: 1.1em;
        width: .6em;
    }
}

@media screen and (min-width: 314px) and (max-width: 330px) {

    .code{
        height: 1.1em;
        width: .7em;
    }    
}

@media screen and (min-width: 331px) and (max-width: 424px) {

    .code{
        height: 1.2em;
        width: .8em;
    }
}

@media (min-width : 425px) {

    .code{
        height: 1.2em;
        width: .9em;
    }
}

